.body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 1px;

}
/*para poner texto de blanco*/
.b{ color: white;}

#grilla{
    display: grid;
    grid-template-areas: "header"
                          "productos"
                          "footer";
    margin: 0px;                      
}

.header{
    padding: 15px;
    font-family: Impact, sans-serif;
    background: rgb(44,212,217);
    background: radial-gradient(circle, rgb(44,212,217) 0%, rgba(83,51,237,1) 91%, rgba(83,51,237,1) 100%);
    grid-area: header;
}

.logoAGMtecno{
    padding-bottom: 10px;
}

.contenedorDesc{
    width: 95%;
    background: rgb(44, 125, 217);
    border-radius: 15px;
}


.descripcion{
    margin: 50px 5%;
    width: 90%;
    text-align: center;
    color: rgb(220, 220, 220);
    font-size: 23px;
    font-weight: bolder;
}

.hero{    
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }

.heroProductos{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;

}

.productosEspa{
    padding: 20px;
}

.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
    width: 100%;
}

.tituloImg{
    color: rgb(220, 220, 220);
    background-color: rgb(44, 125, 217);
    text-align: center;
    font-weight: bolder;
    padding: 5px 0px;
    margin: 0px 0px 50px 0px;
    border-radius: 0px 0px 15px 15px;
}

.tituloImgProdPrecio{
    color: rgb(220, 220, 220);
    background-color: rgb(44, 154, 217);
    text-align: center;
    font-weight: bolder;
    padding: 5px 0px;
    margin: 0px;
    margin-bottom: 30px;
}

.tituloImgProd{
    color: rgb(220, 220, 220);
    background-color: rgb(44, 154, 217);
    text-align: center;
    font-weight: bolder;
    padding: 5px 0px;
    margin: 0px;
}



.titulo{
    font-weight: bolder;
    color: rgb(220, 220, 220);
    margin: 20px 0px 50px 10px;
}

.NavHeader{
    padding-top: 20px;
}

/*para que todas las paginas tengan el mismo fondo en el main*/
.mainFondo{
    padding: 2rem 1rem;
    background: linear-gradient(175deg,rgb(44, 125, 217),#110023);
    background-image: url(../img/fondo\ negro\ cuadro.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: productos;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid rgb(44,212,217);
	color: black;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:rgb(44,212,217);
	border:rgb(44,212,217) solid 3px;
}

/* Icons */

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: rgb(44,212,217);
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: rgb(44,212,217);
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}


/*esto es para que los textos de las tablas se vean blancos*/

th{color: white;
}
td{color: white;}

/*para poner texto de parafo blanco*/
p{color: white;
}

h4{color: white;}

.BotonImg{
    border-radius: 15px 15px 0px 0px;
}

.ContenedorbotonImg{
    height:auto;
    width: 100%;
    padding: 0px;
}


.footer{
    background: radial-gradient(circle, rgb(44,212,217) 0%, rgba(83,51,237,1) 91%, rgba(83,51,237,1) 100%);
    grid-area: footer;
    flex-direction: column;
    display: flex;
    padding: 20px 20px 0px 20px;
}

.Copyright{
    text-decoration: none;
    color: black;
}

/*logos*/
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;


}

.logosTamaño{
    width: 55px;

}

/*recordatorio no poner el media queries arriba de esto*/

@media screen and ( max-width:990px ){
    
   
    #grilla{
        grid-template-columns: 1;
        grid-template-rows: auto;
        grid-template-areas: "header"
                            "productos"
                            "footer";
    }
    
    .NavHeader{
        padding: 20px;
    }

    .botonImg{
        height:auto;
        width: 100%;
        padding: 10px;
    }


    .mainFondo{
        padding: 2rem 2rem;
    }

    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-content: space-between;
    }


    .logoIgBox{
        display: flex;
        justify-content: end;
    }

    .logoWhatsappBox{
        display: flex;
        justify-content: start;
    }

    .logoIgBox{
            display: flex;
            justify-content: start;
        } 
}
    
@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}